services:
  activitypub:
    build: .
    volumes:
      - ./src:/opt/activitypub/src
    environment:
      - PORT=8080
      - MYSQL_USER=ghost
      - MYSQL_PASSWORD=password
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=activitypub
      - NODE_ENV=testing
      - ALLOW_PRIVATE_ADDRESS=true
      - SKIP_SIGNATURE_VERIFICATION=true
    command: node --import tsx --watch src/app.ts
    depends_on:
      mysql:
        condition: service_healthy

  migrate:
    build: migrate
    volumes:
      - ./migrate/migrations:/migrations
    environment:
      - MYSQL_DB=mysql://ghost:password@tcp(mysql:3306)/activitypub
    depends_on:
      mysql:
        condition: service_healthy

  migrate-testing:
    build: migrate
    volumes:
      - ./migrate/migrations:/migrations
    environment:
      - MYSQL_DB=mysql://ghost:password@tcp(mysql-testing:3306)/activitypub
    depends_on:
      mysql-testing:
        condition: service_healthy

  scripts:
    build: scripts
    depends_on:
      - activitypub
      - fake-mastodon

  nginx:
    build: nginx
    ports:
      - "80:80"
    depends_on:
      - activitypub

  mysql:
    image: mysql:8.0.31
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=ghost
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=activitypub
    ports:
      - "3307:3306"
    healthcheck:
      test: "mysql -ughost -ppassword activitypub -e 'select 1'"
      interval: 1s
      retries: 120

  # Testing

  activitypub-testing:
    build: .
    volumes:
      - ./src:/opt/activitypub/src
    environment:
      - PORT=8083
      - MYSQL_USER=ghost
      - MYSQL_PASSWORD=password
      - MYSQL_HOST=mysql-testing
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=activitypub
      - NODE_ENV=testing
      - SKIP_SIGNATURE_VERIFICATION=true
      - ALLOW_PRIVATE_ADDRESS=true
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    command: node --import tsx --watch src/app.ts
    depends_on:
      mysql-testing:
        condition: service_healthy
    healthcheck:
      test: "if [ ! -f /tmp/health.txt ]; then touch /tmp/health.txt && wget --spider http://0.0.0.0:8083/ping || exit 1 ; else echo \"healthcheck already executed\"; fi"
      interval: 1s
      retries: 120
      start_period: 5s

  cucumber-tests:
    build: .
    volumes:
      - ./features:/opt/activitypub/features
      - ./cucumber.js:/opt/activitypub/cucumber.js
    environment:
      - MYSQL_USER=ghost
      - MYSQL_PASSWORD=password
      - MYSQL_HOST=mysql-testing
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=activitypub
      - NODE_ENV=testing
    command: yarn run cucumber-js
    depends_on:
      fake-ghost-activitypub:
        condition: service_started
      fake-external-activitypub:
        condition: service_started
      activitypub-testing:
        condition: service_healthy

  mysql-testing:
    image: mysql:8.0.31
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=ghost
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=activitypub
    ports:
      - "3308:3306"
    healthcheck:
      test: "mysql -ughost -ppassword activitypub -e 'select 1'"
      interval: 1s
      retries: 120

  fake-ghost-activitypub:
    image: wiremock/wiremock:3.9.2-1
    entrypoint: ["/docker-entrypoint.sh", "--global-response-templating", "--disable-gzip", "--verbose", "--port=80", "--https-port=443"]
    volumes:
      - ./wiremock/fake-ghost/mappings:/home/wiremock/mappings

  fake-external-activitypub:
    image: wiremock/wiremock:3.9.2-1
    entrypoint: ["/docker-entrypoint.sh", "--global-response-templating", "--disable-gzip", "--verbose", "--port=80", "--https-port=443"]

  fake-mastodon:
    image: wiremock/wiremock:3.9.2-1
    ports:
      - "8084:8080"
    entrypoint: ["/docker-entrypoint.sh", "--global-response-templating", "--disable-gzip", "--verbose"]
