name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Run Biome
        run: biome ci .

  check-yarn-lock:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'yarn'

      - name: Check yarn.lock
        run: yarn install --frozen-lockfile

  build-test-push:
    name: Build, Test and Push
    environment: build
    runs-on: ubuntu-latest
    needs: [lint, check-yarn-lock]
    outputs:
      migrations_docker_version: ${{ steps.migrations-docker-metadata.outputs.version }}
      activitypub_docker_version: ${{ steps.activitypub-docker-metadata.outputs.version }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: ActivityPub Docker meta
        id: activitypub-docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            europe-west4-docker.pkg.dev/ghost-activitypub/main/activitypub
            europe-docker.pkg.dev/ghost-activitypub/activitypub/activitypub
          tags: |
            ${{ github.ref == 'refs/heads/main' && 'type=edge,branch=main' || '' }}
            ${{ github.event_name == 'pull_request' && format('type=raw,value=pr-{0}', github.event.pull_request.number) || '' }}
            type=raw,value=${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha  }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,priority=1100

      - name: Migrations Docker meta
        id: migrations-docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            europe-west4-docker.pkg.dev/ghost-activitypub/main/migrations
            europe-docker.pkg.dev/ghost-activitypub/activitypub/migrations
          tags: |
            ${{ github.ref == 'refs/heads/main' && 'type=edge,branch=main' || '' }}
            ${{ github.event_name == 'pull_request' && format('type=raw,value=pr-{0}', github.event.pull_request.number) || '' }}
            type=raw,value=${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha  }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,priority=1100

      - name: "Build Docker Image for ActivityPub"
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ steps.activitypub-docker-metadata.outputs.tags }}

      - name: "Build Docker Image for Migrations"
        uses: docker/build-push-action@v6
        with:
          context: migrate
          load: true
          tags: ${{ steps.migrations-docker-metadata.outputs.tags }}

      - name: "Run Tests"
        run: yarn test

      - name: "Login to GAR europe-west4 (old)"
        uses: docker/login-action@v3
        with:
          registry: europe-west4-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.SERVICE_ACCOUNT_KEY }}

      - name: "Login to GAR europe"
        uses: docker/login-action@v3
        with:
          registry: europe-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.SERVICE_ACCOUNT_KEY }}

      - name: "Push ActivityPub Docker Image"
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.activitypub-docker-metadata.outputs.tags }}

      - name: "Push Migrations Docker Image"
        uses: docker/build-push-action@v6
        with:
          context: migrate
          push: true
          tags: ${{ steps.migrations-docker-metadata.outputs.tags }}

  deploy-staging:
    if: github.ref == 'refs/heads/main'
    name: (staging) Deploy
    environment: build
    runs-on: ubuntu-latest
    needs: [build-test-push]
    strategy:
      matrix:
        region: [europe-west4, europe-west3]
        include:
          - region: europe-west4
            region_name: netherlands
          - region: europe-west3
            region_name: frankfurt
    steps:
      - name: "Auth with Google Cloud"
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_KEY }}

      - name: "Deploy Migrations to Cloud Run"
        if: ${{ matrix.region == 'europe-west4' }}
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-docker.pkg.dev/ghost-activitypub/activitypub/migrations:${{ needs.build-test-push.outputs.migrations_docker_version }}
          region: ${{ matrix.region }}
          job: stg-${{ matrix.region_name }}-activitypub-migrations
          flags: '--wait --execute-now'

      - name: "Deploy ActivityPub Queue to Cloud Run"
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-docker.pkg.dev/ghost-activitypub/activitypub/activitypub:${{ needs.build-test-push.outputs.activitypub_docker_version }}
          region: ${{ matrix.region }}
          service: stg-${{ matrix.region_name }}-activitypub-queue

      - name: "Deploy ActivityPub API to Cloud Run"
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-docker.pkg.dev/ghost-activitypub/activitypub/activitypub:${{ needs.build-test-push.outputs.activitypub_docker_version }}
          region: ${{ matrix.region }}
          service: stg-${{ matrix.region_name }}-activitypub-api

  deploy-production:
    if: github.ref == 'refs/heads/main'
    name: (production) Deploy
    environment: build
    runs-on: ubuntu-latest
    needs: [build-test-push, deploy-staging]
    strategy:
      matrix:
        region: [europe-west4, europe-west3]
        include:
          - region: europe-west4
            region_name: netherlands
          - region: europe-west3
            region_name: frankfurt
    steps:
      - name: "Auth with Google Cloud"
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_KEY }}

      - name: "Deploy Migrations to Cloud Run"
        if: ${{ matrix.region == 'europe-west4' }}
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-docker.pkg.dev/ghost-activitypub/activitypub/migrations:${{ needs.build-test-push.outputs.migrations_docker_version }}
          region: ${{ matrix.region }}
          job: prd-${{ matrix.region_name }}-activitypub-migrations
          flags: '--wait --execute-now'

      - name: "Deploy ActivityPub Queue to Cloud Run"
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-docker.pkg.dev/ghost-activitypub/activitypub/activitypub:${{ needs.build-test-push.outputs.activitypub_docker_version }}
          region: ${{ matrix.region }}
          service: prd-${{ matrix.region_name }}-activitypub-queue

      - name: "Deploy ActivityPub API to Cloud Run"
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-docker.pkg.dev/ghost-activitypub/activitypub/activitypub:${{ needs.build-test-push.outputs.activitypub_docker_version }}
          region: ${{ matrix.region }}
          service: prd-${{ matrix.region_name }}-activitypub-api

  deploy-old:
    if: github.ref == 'refs/heads/main'
    name: Deploy (old)
    environment: build
    runs-on: ubuntu-latest
    needs: [build-test-push]
    steps:
      - name: "Auth with Google Cloud"
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_KEY }}

      - name: "Deploy Migrations to Cloud Run"
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-west4-docker.pkg.dev/ghost-activitypub/main/migrations:${{ needs.build-test-push.outputs.migrations_docker_version }}
          region: europe-west4
          job: migrations
          flags: '--wait --execute-now --set-cloudsql-instances=ghost-activitypub:europe-west4:activitypub-db'

      - name: "Deploy ActivityPub Queue to Cloud Run"
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-west4-docker.pkg.dev/ghost-activitypub/main/activitypub:${{ needs.build-test-push.outputs.activitypub_docker_version }}
          region: europe-west4
          service: activitypub-sub

      - name: "Deploy ActivityPub API to Cloud Run"
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          image: europe-west4-docker.pkg.dev/ghost-activitypub/main/activitypub:${{ needs.build-test-push.outputs.activitypub_docker_version }}
          region: europe-west4
          service: activitypub
