name: Test

on:
  workflow_call:
    inputs:
      skip-tests:
        description: Skip tests
        required: false
        type: boolean
        default: false

jobs:
  vitest:
    name: Vitest
    runs-on: ubuntu-latest
    if: ${{ !inputs.skip-tests }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download ActivityPub image
        uses: actions/download-artifact@v7
        with:
          name: activitypub-amd64
          path: /tmp

      - name: Download Migrations image
        uses: actions/download-artifact@v7
        with:
          name: activitypub-migrations-amd64
          path: /tmp

      - name: Load Docker images
        run: |
          docker load < /tmp/activitypub-amd64.tar
          docker load < /tmp/activitypub-migrations-amd64.tar

      - name: Run Tests
        run: docker compose run --rm migrate-testing up && yarn test:all

  e2e:
    name: E2E
    runs-on: ubuntu-latest
    if: ${{ !inputs.skip-tests }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download ActivityPub image
        uses: actions/download-artifact@v7
        with:
          name: activitypub-amd64
          path: /tmp

      - name: Download Migrations image
        uses: actions/download-artifact@v7
        with:
          name: activitypub-migrations-amd64
          path: /tmp

      - name: Load Docker images
        run: |
          docker load < /tmp/activitypub-amd64.tar
          docker load < /tmp/activitypub-migrations-amd64.tar

      - name: Run E2E Tests
        run: yarn test:cucumber
